.blogForm-container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.blogForm-container form {
    height: 80vh;
    width: 38vw;
    border-radius: 10px;
    background: url('/src/assets/setMoon.png');
    background-size: cover;
    background-position: 90%;
    padding: 40px;
    box-shadow: 6px 6px 6px rgb(20, 20, 20);
}

.blogForm-container form label {
    padding-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: rgb(246, 246, 246);
    font-weight: bold;
}

.blogForm-container h2 {
    color: rgb(255, 255, 255);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    /* text-shadow: 4px 2px 2px rgb(10, 10, 10); */
}

.blogForm-container form input {
    margin-bottom: 14px;
}

.text-tools {
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 4px 4px 8px rgb(20, 20, 20);
}

.text-tools i {
    color: rgb(255, 255, 255);
}

.text-tools i:hover{
    transform: scale(1.2);
    color:rgb(235, 250, 103);
}

.text-tools button {
    border: none;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 6px rgb(10, 10, 10);
    letter-spacing: 1px;
}

textarea {
    height: 300px;
}

.article-display {
    border: 1px solid black;
    box-shadow: 6px 6px 6px rgb(24, 5, 66);
    height: 80vh;
    width: 38vw;
}

.header-image {
    background: url('/src/assets/spiralTop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    height: 20vh;
    width: 38vw;
}

.display-text {
    height: 60vh;
    width: 100%;
}

