@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.reg-container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.reg-form-greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/src/assets/rainbowKey.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 50vw;
}

.reg-form-context {
    width: 30vw;
    color: rgb(255, 255, 255);
}

.reg-form-context h1 {
    font-size: 80px;
    color: rgba(5, 1, 41, 0.9);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    line-height: 1.4;
    /* text-shadow: 0px 2px 1px rgb(207, 207, 207); */
}

.reg-form-container {
    background-color: rgb(21, 1, 53);
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-form-container h2 {
    color: rgb(200, 200, 200);
    text-shadow: 2px 2px 4px rgb(30, 30, 30);
    text-align: center;
}

.reg-form-container form {
    width: 500px;
}

.reg-form-container form label {
    padding-bottom: 10px;
}

.reg-form-container form input {
    width: 100%;
    margin-bottom: 45px;
    color: white;
}

.reg-form-container form input:focus {
    outline: none;
}

.reg-form-container .form-group input[type=text] {
    background: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid rgb(190, 190, 190);
}

.reg-form-container .form-group input[type=email] {
    background: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid rgb(190, 190, 190);
}

.reg-form-container .form-group input[type=password] {
    background: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid rgb(190, 190, 190);
}

.reg-form-container .form-group input::placeholder {
    color: rgb(177, 177, 177);
}

.confirmReg {
    display: flex; 
    justify-content: center;
    align-items: center;
    border: transparent;
    height: 35px;
    box-shadow: 2px 4px 5px rgb(30, 30, 30);
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(167, 179, 246);
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

.confirmReg:hover {
    transform: translateY(2px);
    box-shadow: 2px 4px 5px rgb(30, 30, 30);
}
