
.productForm-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productForm-container form {
    width: 32vw;
    height: 85vh;
    border-radius: 10px;
    background: url('/src/assets/moonREd.png');
    background-size: cover;
    padding: 40px;
    box-shadow: 6px 6px 6px rgb(20, 20, 20);
    overflow:hidden;
}

.productForm-container form label {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.productForm-container h2 {
    color: rgb(242, 246, 8);
    font-family: "Montserrat";
    text-align: center;
}

.productForm-container form input {
    margin-bottom: 10px;
}

.productForm-container form textarea {
    height: 22vh;
}

