.brief-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-content {
    border: none;
    background: url('/src/assets/soundpurp.jpg');
    background-size: cover;
    height: 10vh;
    width: 25vw;
}